<script setup>
import NavLink from '@/Components/NavLink.vue';
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import Modal from '@/Components/Modal.vue';

import { useForm } from '@inertiajs/vue3'
import { ref } from 'vue';

const form = useForm({
    titre: null,
    description: null,
    date_debut: null,
    date_fin: null,

})

let showModal = ref(false);

const closeModal = () => {
    showModal.value = false;
}

/* Reinitialiser les champs*/

function createRetro() {
    form.post(route('retrospective.store'), {
        onSuccess: () => {
            form.reset();
            showModal.value = true;
            console.log("Success")
        }

    })
}


</script>

<template>
    <AuthenticatedLayout>

        <div class="py-12">
            <form @submit.prevent="createRetro">
                <!-- Titre -->
                <label>Titre de la rétro</label>
                <input type="text" v-model="form.titre">
                <div v-if="form.errors.titre">{{ form.errors.titre }}</div>
                <!-- Description -->
                <label>Description</label>

                <input type="text" v-model="form.description">
                <div v-if="form.errors.description">{{ form.errors.description }}</div>

                <input type="date" :min="new Date().toLocaleString('fr-FR')" v-model="form.date_debut">
                <div v-if="form.errors.date_debut">{{ form.errors.date_debut }}</div>


                <input type="date" v-model="form.date_fin">
                <div v-if="form.errors.date_fin">{{ form.errors.date_fin }}</div>

                <button type="submit" :disabled="form.processing">Créer</button>

            </form>
        </div>

        <Modal @close="closeModal" :show="showModal">
            <h2>Votre rétrospective a bien été créer !</h2>

            <button class="modalButton" @click="closeModal">Fermer</button>
        </Modal>
    </AuthenticatedLayout>
</template>

<style scoped>
input {
    padding: 10px;
}

form {

    padding: 10px;
}

.modalButton {
    background-color: beige;
}
</style>