<script setup>

import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Link } from '@inertiajs/vue3';


defineProps({ retrospectives: Array })
</script>
<template>
    <AuthenticatedLayout>
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white dark:bg-gray-800 overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 text-gray-900 dark:text-gray-100">Mes rétros</div>

                </div>
            </div>
        </div>
        <ul>
            <li v-for="retrospective in retrospectives" :key="retrospective.id">
                <Link :href="route('retrospective.show', { retrospective: retrospective })">
                <br>
                <h2> Titre: {{ retrospective.titre }} </h2>
                </Link>
                Date debut: {{ retrospective.date_debut }}
                <br>Id: {{ retrospective.id }}

            </li>

        </ul>

    </AuthenticatedLayout>
</template>