<script setup>

import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import Modal from '@/Components/Modal.vue';
import TextInput from '@/Components/TextInput.vue';
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { useForm } from '@inertiajs/vue3';
import { ref } from 'vue';


let showModal = ref(false);

function createFeedback() {
    form.post(route('feedback.store'), {
        onSuccess: () => {
            form.reset();
            showModal.value = true;
            console.log("Success")
        }

    })
}


const closeModal = () => {
    showModal.value = false;
}


const props = defineProps({ retrospective: Object })

const form = useForm({
    retrospective_id: props.retrospective.id,
    titre: null,
    contenus: null,
    aime: 0,

})

const notlike = () => {
    form.aime = 0
    console.log("notlike")
}

const like = () => {
    console.log(form)
    form.aime = 1
    console.log("like")
}
</script>


<template>
    <AuthenticatedLayout>
        <ul>
            <li>ID De la rétrospective : {{ retrospective.id }}</li>
            <li> Titre : {{ retrospective.titre }}</li>
            <li>Description :{{ retrospective.description }}</li>
            <li>Date début :{{ retrospective.date_debut }}</li>
            <li>Date de fin :{{ retrospective.date_fin }}</li>
            <li v-for="feedback in retrospective.feedback" :key="feedback.id">Feedback :{{ feedback.titre }}
                <br>Contenu :{{ feedback.contenus }}
                <br>Catégorie :{{ feedback.aime }}
            </li>

        </ul>

        <button class="buttonfeedback" @click="showModal = true">Créer un feedback</button>

        <Modal @close="closeModal" :show="showModal">
            <form @submit.prevent="createFeedback">
                <div class="w-4/5 ml-16">
                    <InputLabel for="title" value="Titre du feedback" />
                    <TextInput id="title" type="text" class="mt-1 block w-full" v-model="form.titre" required autofocus
                        autocomplete="titre" />
                    <InputError class="mt-2" :message="form.errors.titre" />
                </div>
                <div>
                    <button type="button" class="notlike" @click="notlike">Je n'aime pas</button>
                    <button type="button" class="like" @click="like">J'aime</button>
                </div>
                <div class="w-4/5 ml-16">
                    <InputLabel for="contenus" value="Contenus" />
                    <textarea id="contenus" type="textarea" class="mt-1 block w-full" v-model="form.contenus" required
                        autocomplete="contenus" rows="10"></textarea>
                    <InputError class="mt-2" :message="form.errors.titre" />
                </div>
                <button type="submit" :disabled="form.processing">Créer</button>
                <br>
            </form>
            <button class="modalButton" @click="closeModal">Fermer</button>
        </Modal>



    </AuthenticatedLayout>
</template>

<style scoped>
.buttonfeedback {
    background-color: aquamarine;
}

.notlike {
    background-color: brown;
}

.like {
    background-color: darkorange;
}
</style>